<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Job Portal</display-name>

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddJobServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.AddJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddJobServlet</servlet-name>
        <url-pattern>/addJob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditJobServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.EditJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditJobServlet</servlet-name>
        <url-pattern>/editJob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteJobServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.DeleteJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteJobServlet</servlet-name>
        <url-pattern>/deleteJob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewJobsServlet</servlet-name>
        <servlet-class>com.jobportal.servlet.ViewJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobsServlet</servlet-name>
        <url-pattern>/viewJobs</url-pattern>
    </servlet-mapping>

</web-app>
